{% extends 'seller-header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Believe</title>

   
  </head>
  <body>

            <div class="rec-blog">
                <div class="container">
                    <div class="rec-blog-inner">
                        <div class="blog-title">
                            <span>Your Product-{{myorder.product.count}}</span>
                        </div>
                        <div class="row">
                          {%for i in myorder  %}
                            <div class="col-md-4 blog-ct">
                                <a href=""><img src="{{i.product.product_image.url}}"  alt="{{i.product_name}}" class="img-responsive"></a>
                                <div class="blog-ct-title">
                                    <a href="">{{i.product.product_name}}</a>
                                    
                                    <span>{{i.product.product_date}}</span>
                                </div>
                              </div>
                          {% endfor %}
                        </div> 
                    </div>
                  </div>
            </div>
                
            
  </body>
</html>
{% endblock %}