{%extends 'header.html'%}
{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Believe</title>

   
  </head>
  <body>

      <div id="wrapper" class="homepage-1"> <!-- wrapper -->
        
          
          <div id="content"> <!-- Content -->
              <div class="page-title">
                  <div class="container">
                      <div class="page-title-inner">
                          <h3>Terms & Conditions</h3>
                          <div class="breadcumb"> <a href="{%url 'index'%}">Home</a><span> / </span><span>Terms & Conditions</span></div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
              <div class="container">
                  <div class="blog">
                      <div class="row">
                          <div class="col-md-8 blog-content">
                              <div class="row">
                                  <div class="col-md-12 blog-block">
                                    
                                  </div>
                                  
                                  <div class="">
                                      <div class="">
                                          <div class="">
                                              <i class="fa fa-image"></i>
                                              <a href=""><img src="images/blog-2.jpg" alt="" class="img-responsive"></a>
                                          </div>
                                          <h3 class="blog-post-title">TERMS AND CONDITIONS OF USE</h3>
                                          <h4>PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY</h4>
                                          <div class="blog-meta">July 28, 2014<span>|</span><a href="">23 Comments</a></div>
                                          <p>Costco Wholesale Corporation, together with its subsidiaries and affiliates (“Costco”), provides you access and use 
                                            of our websites, including Costco.com and other Internet sites, mobile applications, and social media sites operated 
                                            by or for Costco (collectively, the “Sites”), subject to your compliance with these terms and conditions of use
                                            (the “Site Terms”). By accessing, browsing, and using the Sites, you agree to be bound by the Site Terms and all applicable law.
                                             If you do not agree to be bound by the Site Terms and applicable law each time you use the Sites or you do not have the authority to agree to or accept these Site Terms, you may not use the Sites.
                                          </p>
                                          
                                      </div>
                                  </div>
                                  
                                  <div class="col-md-12 blog-block">
                                      <div class="">
                                          <div class="blog-image">
                                              <i class="fa fa-video-camera"></i>
                                              <a href=""><img src="images/blog-3.jpg" alt="" class="img-responsive"></a>
                                          </div>
                                          <h4><b>A. Related Policies and Terms </b><h4>
                                          
                                          <p>Additional policies and terms apply to use of specific portions of the Sites and to the purchase of certain Merchandise or Services and are included as part of the Site Terms. Please refer and review all additional specific terms and conditions, including the terms at Shopping Costco.com.

                                            The Site Terms apply exclusively to your access to, and use of, the Sites and do not alter in any way the terms or conditions of any other agreement you may have with Costco for products, services, or otherwise.
                                            
                                            Costco has adopted a Privacy Policy that you should refer to in order to fully understand how we use and collect information. To learn about Costco's privacy practices, please refer to the Privacy Policy section of the Sites.
                                          </p>
                                          
                                      </div>
                                  </div>
                                  
                                  <div class="col-md-12 blog-block">
                                      <div class="inner">
                                          <div class="blog-image">
                                              <i class="fa fa-volume-up"></i>
                                              <a href=""><img src="images/blog-4.jpg" alt="" class="img-responsive"></a>
                                          </div>
                                          <h4><b>B. Modification of Site Terms </b><h4>
                                          
                                          <p>
                                              Morbi ultricies porttitor varius. In hac habitasse platea dictumst. Vestibulum convallis blandit augue quis sagittis. Quisque semper velit dui, sit amet cursus arcu interdum sit amet. Maecenas augue dui, suscipit non fringilla sed, congue vitae purus. Aenean non aliquam mi.
                                          </p>
                                          
                                      </div>
                                  </div>
                                  
                              </div>
                              
                              
                          </div>
                         
                                  
        
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div> <!-- Content -->
          
          
         
      </div> <!-- wrapper -->

    
  </body>
</html>
{%endblock%}